


  .body-set {
    padding: 0%;
    margin: 0%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/grass.png");
  }

  h1 {
    text-align: center;
    color: red;
    text-decoration-line: underline;
    text-decoration-color: black;
    background: none;
    
  }
  
  canvas {
    border: 5px solid black;
    background-image: url("./imgs/sand.png");
    
  }

  
  .rules-set {
    text-align: center;
    font-size: larger;
  }